*{
    background-color: black;
    color:white;
    font-family: "Montserrat", sans-serif;
}
body{
    padding-left: 40px;
    animation:slide_up 1.4s ease;
}
@keyframes slide_up{
    0%{
        transform:translateY(300px);
    }
    100%{
        transform:translateY(0);
    }
}
.a,.b,.c,.d{
    display: flex;
}
.api,.self{
    display: flex;
    gap:40px;
    text-align: center;
}
.d1,.d2{
    display:none;
    background-color: lightpink;
    color:black;
    position: absolute;
    border-radius: 20px;
    text-align: center;
    max-width: 200px;
    padding:5px;
    font-weight: bold;
}
.d3,.d4,.d5,.d6,.d7{
    display:none;
    background-color: lightgreen;
    color:black;
    position: absolute;
    border-radius: 20px;
    text-align: center;
    max-width: 200px;
    padding:5px;
    font-weight: bold;
}
.d1 a,.d2 a{
    text-decoration: none;
    color:rebeccapurple;
    background: transparent;
}
.recipe:hover .d1, .weather:hover .d2, .pong:hover .d3, .snake:hover .d4, .vowel:hover .d5, .calc:hover .d6, .portfolio:hover .d7{
    display:block;
}
.recipe:hover img, .weather:hover img, .pong:hover img, .snake:hover img, .vowel:hover img, .calc:hover img, .portfolio:hover img{
    cursor: pointer;
    transform: scale(1.2);
}
.intro{
    display: flex;
    gap:100px;
    padding-right:80px;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.intro img:hover{
   transform: scale(1.05);
   cursor: pointer;
}
.header{
    display:flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 50px;
}
.name{
    font-size: 25px;
    cursor:pointer;
}
.contact{
    padding-top:25px ;
    border:none;
    outline:none;
    background-color: black;
    font-size: 25px;
    color:white;
    cursor: pointer;
    transition: .4s;
}
.contact:hover, .name:hover{
    color:lightskyblue;

}
.dropdown a{
    display:block;
    color:lightpink;
    text-decoration: none;
    padding:7px;
    font-size: 25px;
}
.links{
    display: none;
    position: absolute;
    background: transparent;
    background-color: black;
    text-align: center;
    box-shadow:-2px 2px 5px lightpink;
    border-radius: 10px;
}
.dropdown:hover .links{
    display:block;
}
.confetti{
    padding:10px;
    margin: auto;
    display: block;
    background-color: lightskyblue;
    color:black;
    border-radius: 20px;
    border:none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: .4s;
}
.confetti i{
    background: transparent;
    color:black;
}
.confetti:hover{
    transform: scale(1.2);
}
.confetti canvas{
    position:absolute;
    background: transparent;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    pointer-events:none;
}
.gluesong, .gluesong2, .wow, .wow2,.yui,.yui2,.light,.light2{
    background-color: rgb(223, 146, 32);
    border:none;
    border-radius: 50px;
    padding:10px;
    cursor: pointer;
}
.gluesong:hover, .gluesong2:hover, .wow:hover ,.wow2:hover,.yui:hover,.yui2:hover,.light:hover,.light2:hover{
    background-color: rgb(204, 93, 24);
}
.gluesong i, .gluesong2 i, .wow i, .wow2 i,.yui i,.yui2 i,.light i,.light2 i{
    background: transparent;
    color:black;
}
.lol{
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap:50px;
}
.lol button{
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(146, 68, 225);
    gap:40px;
    transition: .4s;
    border:none;
    border-width: 3px;
    border-color: rgb(88, 23, 149);
    border-style: solid;
}
.lol button a{
    background: transparent;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;

}
.lol button:hover{
    transform: scale(1.2);
    border-color: white;
}
.lol button a:hover{
    color:black;
}
.foot{
   text-align: center;
}
